<div class="mt-6">
    <div class="columns is-centered is-mobile is-multiline">
        {{#each games}}
        <div class="column is-two-thirds-mobile is-two-fifths-tablet is-one-quarter-desktop mr-3 ml-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{name}}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{description}}
                    </div>
                    
                    <div class="buttons">
                        <a href="/games/edit/{{id}}" class="button is-warning">Editar</a>
                        <a href="/games/delete/{{id}}" class="button is-danger">Eliminar</a>
                    </div>
                    <p>{{ timeago registration_date }}</p>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">No hay sugerencias</p>
                        </div>
                    </div>
                    <div class="content">
                        <a href="/games/add">Crea una sugerencia</a>
                        
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>